<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/skip.js}";></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/skip.css}"/>
</head>
<body>
    <div id="main">
        <h3>找回密码</h3>
        <div>
            <input type="text" class="form-control" id="email" placeholder="请输入您的邮箱地址" style="width: 270px;margin-left: 60px;">
            <form id="nextInput" style="display: none">
                <input type="text" class="form-control" id="verifyCode" name="verifyCode" placeholder="请输入验证码" style="width: 270px;margin-left: 60px;">
                <input type="password" class="form-control" id="newPass" name="newPass" placeholder="请输入新密码" style="width: 270px;margin-left: 60px;" maxlength="12" data-trigger="onclick" th:data-content="#{register.passwordlimit}" data-container="body"
                       data-toggle="popover" data-placement="top">
            </form>
        </div>
        <button class="btn btn-primary" id="tipButton" onclick="checkEmailExist()">下一步</button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body" id="dialog_tips">验证码已发送，有效期30分钟，请及时查收！</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript" th:src="@{/modules/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/findpassword.js}"></script>

</body>
</html>